{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
    <style>
        .bd-example {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">CRUD</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Add CRUD</li>
        </ol>

        {{ form.non_field_errors }}
        <form action="" novalidate
            class="needs-validation"
            novalidate
            method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            
            <h2 class="mt-4">事故紀錄</h2>
            <div class="bd-example">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.accident_form.發生年度.errors }}
                            {% render_field form.accident_form.發生年度 %}
                            <div class="invalid-feedback">請輸入發生年度</div>
                            <label for="{{ form.accident_form.發生年度.id_for_label }}">發生年度:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.accident_form.發生月份.errors }}
                            {% render_field form.accident_form.發生月份 %}
                            <div class="invalid-feedback">請輸入發生月份</div>
                            <label for="{{ form.accident_form.發生月份.id_for_label }}">發生月份:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.accident_form.發生日期.errors }}
                            {% render_field form.accident_form.發生日期 %}
                            <div class="invalid-feedback">請輸入發生日期</div>
                            <label for="{{ form.accident_form.發生日期.id_for_label }}">發生日期:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.accident_form.發生時間.errors }}
                            {% render_field form.accident_form.發生時間 %}
                            <div class="invalid-feedback">請輸入發生時間</div>
                            <label for="{{ form.accident_form.發生時間.id_for_label }}">發生時間:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.accident_form.事故類別名稱.errors }}
                            {% render_field form.accident_form.事故類別名稱 %}
                            <label for="{{ form.accident_form.事故類別名稱.id_for_label }}">事故類別名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.accident_form.處理單位名稱警局層.errors }}
                            {% render_field form.accident_form.處理單位名稱警局層 %}
                            <div class="invalid-feedback">請選擇處理單位名稱警局層</div>
                            <label for="{{ form.accident_form.處理單位名稱警局層.id_for_label }}">處理單位名稱警局層:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.accident_form.發生地點.errors }}
                            {% render_field form.accident_form.發生地點 %}
                            <div class="invalid-feedback">請輸入發生地點</div>
                            <label for="{{ form.accident_form.發生地點.id_for_label }}">發生地點:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.accident_form.天候名稱.errors }}
                            {% render_field form.accident_form.天候名稱 %}
                            <label for="{{ form.accident_form.天候名稱.id_for_label }}">天候名稱:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.accident_form.光線名稱.errors }}
                            {% render_field form.accident_form.光線名稱 %}
                            <label for="{{ form.accident_form.光線名稱.id_for_label }}">光線名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.accident_form.經度.errors }}
                            {% render_field form.accident_form.經度 %}
                            <div class="invalid-feedback">請輸入發生精度</div>
                            <label for="{{ form.accident_form.經度.id_for_label }}">經度:</label>
                        </div>                         
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.accident_form.緯度.errors }}
                            {% render_field form.accident_form.緯度 %}
                            <div class="invalid-feedback">請輸入發生緯度</div>
                            <label for="{{ form.accident_form.緯度.id_for_label }}">緯度:</label>
                        </div>                         
                    </div>
                </div>
            </div>

            <h2 class="mt-4">交通設施</h2>
            <div class="bd-example">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.party_form.當事者區分_類別_大類別名稱_車種.errors }}
                            {% render_field form.party_form.當事者區分_類別_大類別名稱_車種 %}
                            <label for="{{ form.party_form.當事者區分_類別_大類別名稱_車種.id_for_label }}">當事者區分_類別_大類別名稱_車種:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.party_form.當事者性別名稱.errors }}
                            {% render_field form.party_form.當事者性別名稱 %}
                            <label for="{{ form.party_form.當事者性別名稱.id_for_label }}">當事者性別名稱:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.party_form.當事者事故發生時年齡.errors }}
                            {% render_field form.party_form.當事者事故發生時年齡 %}
                            <div class="invalid-feedback">請輸入當事者事故發生時年齡</div>
                            <label for="{{ form.party_form.當事者事故發生時年齡.id_for_label }}">當事者事故發生時年齡:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.party_form.保護裝備名稱.errors }}
                            {% render_field form.party_form.保護裝備名稱 %}
                            <label for="{{ form.party_form.保護裝備名稱.id_for_label }}">保護裝備名稱:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.party_form.當事者行動狀態子類別名稱.errors }}
                            {% render_field form.party_form.當事者行動狀態子類別名稱 %}
                            <label for="{{ form.party_form.當事者行動狀態子類別名稱.id_for_label }}">當事者行動狀態子類別名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.party_form.車輛撞擊部位子類別名稱_最初.errors }}
                            {% render_field form.party_form.車輛撞擊部位子類別名稱_最初 %}
                            <label for="{{ form.party_form.車輛撞擊部位子類別名稱_最初.id_for_label }}">車輛撞擊部位子類別名稱_最初:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.party_form.車輛撞擊部位大類別名稱_其他.errors }}
                            {% render_field form.party_form.車輛撞擊部位大類別名稱_其他 %}
                            <label for="{{ form.party_form.車輛撞擊部位大類別名稱_其他.id_for_label }}">車輛撞擊部位大類別名稱_其他:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.party_form.車輛撞擊部位子類別名稱_其他.errors }}
                            {% render_field form.party_form.車輛撞擊部位子類別名稱_其他 %}
                            <label for="{{ form.party_form.車輛撞擊部位子類別名稱_其他.id_for_label }}">車輛撞擊部位子類別名稱_其他:</label>
                        </div>                         
                    </div>
                </div>
            </div>
            <h2 class="mt-4">肇因研判</h2>
            <div class="bd-example">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.causeanalysis_form.肇因研判大類別名稱_主要.errors }}
                            {% render_field form.causeanalysis_form.肇因研判大類別名稱_主要 %}
                            <label for="{{ form.causeanalysis_form.肇因研判大類別名稱_主要.id_for_label }}">肇因研判大類別名稱_主要:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.causeanalysis_form.肇因研判子類別名稱_主要.errors }}
                            {% render_field form.causeanalysis_form.肇因研判子類別名稱_主要 %}
                            <label for="{{ form.causeanalysis_form.肇因研判子類別名稱_主要.id_for_label }}">肇因研判子類別名稱_主要:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.causeanalysis_form.肇因研判子類別名稱_個別.errors }}
                            {% render_field form.causeanalysis_form.肇因研判子類別名稱_個別 %}
                            <label for="{{ form.causeanalysis_form.肇因研判子類別名稱_個別.id_for_label }}">肇因研判子類別名稱_個別:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.causeanalysis_form.肇事逃逸類別名稱_是否肇逃.errors }}
                            {% render_field form.causeanalysis_form.肇事逃逸類別名稱_是否肇逃 %}
                            <label for="{{ form.causeanalysis_form.肇事逃逸類別名稱_是否肇逃.id_for_label }}">肇事逃逸類別名稱_是否肇逃:</label>
                        </div>                         
                    </div>
                </div>
            </div>
            <h2 class="mt-4">號誌</h2>
            <div class="bd-example">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.trafficfacilities_form.號誌_號誌種類名稱.errors }}
                            {% render_field form.trafficfacilities_form.號誌_號誌種類名稱 %}
                            <label for="{{ form.trafficfacilities_form.號誌_號誌種類名稱.id_for_label }}">號誌_號誌種類名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.trafficfacilities_form.號誌_號誌動作名稱.errors }}
                            {% render_field form.trafficfacilities_form.號誌_號誌動作名稱 %}
                            <label for="{{ form.trafficfacilities_form.號誌_號誌動作名稱.id_for_label }}">號誌_號誌動作名稱:</label>
                        </div>                         
                    </div>
                </div>
            </div>
            <h2 class="mt-4">道路狀況</h2>
            <div class="bd-example">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.road_form.道路型態大類別名稱.errors }}
                            {% render_field form.road_form.道路型態大類別名稱 %}
                            <div class="invalid-feedback">請輸入道路型態大類別名稱</div>
                            <label for="{{ form.road_form.道路型態大類別名稱.id_for_label }}">道路型態大類別名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.road_form.道路型態子類別名稱.errors }}
                            {% render_field form.road_form.道路型態子類別名稱 %}
                            <div class="invalid-feedback">請輸入道路型態子類別名稱</div>
                            <label for="{{ form.road_form.道路型態子類別名稱.id_for_label }}">道路型態子類別名稱:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.road_form.事故位置大類別名稱.errors }}
                            {% render_field form.road_form.事故位置大類別名稱 %}
                            <div class="invalid-feedback">請輸入事故位置大類別名稱</div>
                            <label for="{{ form.road_form.事故位置大類別名稱.id_for_label }}">事故位置大類別名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.road_form.路面狀況_路面鋪裝名稱.errors }}
                            {% render_field form.road_form.路面狀況_路面鋪裝名稱 %}
                            <div class="invalid-feedback">請輸入路面狀況_路面鋪裝名稱</div>
                            <label for="{{ form.road_form.路面狀況_路面鋪裝名稱.id_for_label }}">路面狀況_路面鋪裝名稱:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.road_form.路面狀況_路面狀態名稱.errors }}
                            {% render_field form.road_form.路面狀況_路面狀態名稱 %}
                            <label for="{{ form.road_form.路面狀況_路面狀態名稱.id_for_label }}">路面狀況_路面狀態名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.road_form.路面狀況_路面缺陷名稱.errors }}
                            {% render_field form.road_form.路面狀況_路面缺陷名稱 %}
                            <div class="invalid-feedback">請選擇路面狀況_路面缺陷名稱</div>
                            <label for="{{ form.road_form.路面狀況_路面缺陷名稱.id_for_label }}">路面狀況_路面缺陷名稱:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.road_form.道路障礙_障礙物名稱.errors }}
                            {% render_field form.road_form.道路障礙_障礙物名稱 %}
                            <div class="invalid-feedback">請輸入道路障礙_障礙物名稱</div>
                            <label for="{{ form.road_form.道路障礙_障礙物名稱.id_for_label }}">道路障礙_障礙物名稱:</label>
                        </div>
                    </div>
                    <div class="col">   
                        <div class="form-floating">
                            {{ form.road_form.道路障礙_視距品質名稱.errors }}
                            {% render_field form.road_form.道路障礙_視距品質名稱 %}
                            <label for="{{ form.road_form.道路障礙_視距品質名稱.id_for_label }}">道路障礙_視距品質名稱:</label>
                        </div>                         
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">                            
                            {{ form.road_form.道路障礙_視距名稱.errors }}
                            {% render_field form.road_form.道路障礙_視距名稱 %}
                            <label for="{{ form.road_form.道路障礙_視距名稱.id_for_label }}">道路障礙_視距名稱:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 mb-0">
                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">儲存</button></div>
            </div>
            
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/form_verify.js' %}"></script>
{% endblock %}