{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Car Accident</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Car Accident</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                CRUD List
                <a class="btn btn-sm btn-success" href="{% url 'transport:create' %}" style="padding: 8px; float: right; background-color: green; color: white;">ADD</a>
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>發生年度</th>
                        <th>發生月份</th>
                        <th>發生日期</th>
                        <th>事故類別名稱</th>
                        <th>處理單位名稱警局層</th>
                        <th>發生地點</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in caraccident_list %}
                        <tr>
                            <td>{{ record.id }}</td>
                            <td>{{ record.發生年度 }}</td>
                            <td>{{ record.發生月份 }}</td>
                            <td>{{ record.發生日期 }}</td>
                            <td>{{ record.事故類別名稱 }}</td>
                            <td>{{ record.處理單位名稱警局層 }}</td>
                            <td>{{ record.發生地點 }}</td>
                            <td>
                                <div class="text-center">
                                    <a class="btn btn-sm btn-warning" href="update/{{ record.id }}"> <span class="fa fa-edit"></span> Update</a>                            
                                </div>

                                {% include 'elements/delete_modal.html' %}
                                <div class="text-center mt-1">
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModalCenter">
                                        <span class="fa fa-trash pe-1 ps-1"></span> Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% static "js/modal.js" %}
{% endblock %}